<div class="container-fluid"><br>
    <div class="row">
        <div class="navbar navbar-default" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="" alt="List of Course Available">
                </a>
            </div>
        </div>
    </div>
    <div class="row"><br>
        <table class="table col-md-offset-1">
            <th>ID.</th>
            <th>Course</th>
            <th>Pengajar</th>
            <tr *ngFor="let x of form; let i = index">
                <td>{{ x.course_id }}</td>
                <td>{{ x.nama_course }}</td>
                <td>{{ x.pengajar }}</td>
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-default" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="" alt="Add New Course">
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #bad3fc">
        <div class="col-md-3"><br>
            <h4>Name of Course</h4>
        </div>
        <div class="col-md-7"><br>
            <p><input type="text" class="form-control" placeholder="Enter name of course" [(ngModel)]="newnama_course"></p>
        </div>
        <div class="col-md-3"><br>
            <h4>Nama Pengajar</h4>
        </div>
        <div class="col-md-7"><br>
            <p><input type="text" class="form-control" placeholder="Enter nama pengajar" [(ngModel)]="newpengajar"></p>
        </div>
        <div class="col-md-2 col-md-offset-10">
            <a class="btn btn-default" href="#" style="background-color: #2d7dff; color: white" (click)="addToList()">Add</a>
            <br><br>
        </div>
    </div>
</div>